<!DOCTYPE html>
<html lang="en">
<body>

    <div class="container">
        <div class="name">
            <h2>New Contact From: {{message.name}}</h2>
        </div>
    
        <div class="contact">
            <h3>Contact Info</h3>
            <div class="contact-info">
                <p>E // {{message.email}}</p>
                <p>P // {{message.phone}}</p>
            </div>
        </div>
    
        <div class="message">
            <h3>Message</h3>
            <p>{{message.message}}</p>
        </div>
    </div>

</body>
</html>