<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  {% load static %}
  <!-- CSS LINKS -->
  <link rel="stylesheet" href="{% static 'base_website/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'base_website/css/footer.css' %}">

  <!-- FOOTER -->
</head>
<body>

  <div class="footer-container">
    <div class="footer-content">
      <p>©2022 All Rights Reserved | Lacuna Creations LLC | <a href="/admin/login"><i class="fas fa-user-shield"></i></a></p>
    </div>
  </div>

</body>
</html>