<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% load static %}
  <!-- CSS LINKS -->
  <link rel="stylesheet" href="{% static 'base_website/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'base_website/css/menu.css' %}">

  <title>Menu</title>
</head>
<body>
  <div class="menu">

    <div class="menu-items">

      <!-- Menu Left -->
      <div class="menu-left">
        <a href="/">
          <p>Lacuna creations</p>
        </a>
      </div>

      <!-- Menu Right -->
      <div class="menu-right">
        <a href="/services">Services</a>
        <a href="/team">Team</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
      </div>
      
    </div>

  </div>
</body>
</html>