<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% load static %}
  <!-- CSS LINKS -->
  <link rel="stylesheet" href="{% static 'base_website/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'base_website/css/menu.css' %}">

  <title>Menu</title>
</head>
<body>
  <div class="menu">
    <div class="menu-items">
      <div class="menu-left">
        <a href="/">
          <p>Lacuna creations</p>
        </a>
      </div>
      <div class="menu-right">
        <a href="/team">Team</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
        <a href="/services">
          <div class="services-button">
            <p>Services</p>
          </div>
        </a>
        <a href="" id="dark-mode-toggle"><i class="fas fa-adjust"></i></a>
        <a href=""><i class="fas fa-user"></i></a>
      </div>
    </div>
  </div>
</body>
</html>