/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'); */
* {
  margin: 0 auto;
  padding: 0;
}

body {
  transition: .1s;
}
.dark-mode {
  background: #242424;
  color: white;
}
.dark-mode a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  letter-spacing: 3px;

}

h3 {
  font-family: 'Source Code Pro', monospace;
}

h4 {
  font-family: 'Source Code Pro', monospace;
}

p {
  font-family: 'Source Code Pro', monospace;
}

a {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  color: #222222;
}

ul  {
  font-family: 'Source Code Pro', monospace;
  list-style: none;
}

.success_message {
  width: 100%;
  text-align: center;
  background-color: #71c17a;
  padding: 15px;
}