/* ====================================== */
/* hero */
/* ====================================== */
.hero-container {
    height: 75vh;
    margin-top: -8rem;
    background: linear-gradient(90deg, rgba(7,8,8,.95) 50%, rgba(0,0,0,.4) 50%),url('../img/hero-3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-heading p {
    margin-bottom: 5rem;

}
.hero-heading h1 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.hero-btns {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
.hero-btns .btn-primary {
    margin-bottom: 1rem;
}
.hero-container h1 {
    color: var(--white);
}

/* ====================================== */
/* about */
/* ====================================== */
.hp-about-hero {
    padding: 3rem;
    border-bottom: 1px solid var(--white);
    text-align: center;
}
.hp-about-copy {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

















