

/* MAIN CONTENT */
.main-content {
  padding: 300px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-left {
  width: 600px;
}
.main-content-left h1 {
  margin-bottom: 10px;
}
.main-content-right {
  margin-left: -50px;
}

/* MEET THE TEAM */
.team button {
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 100px;
  background-color: #71c17a;
  color: white;
  border-top: 3px solid #71c17a;
  border-bottom: 3px solid #71c17a;

  transition: 0.2s;
}
.team button:hover {
  cursor: pointer;
  background-color: #303030;
  border-top: 3px solid #71c17a;
  border-bottom: 3px solid #71c17a;

  transition: 0.2s;
}
:root {
  --black: #070707;
  --white: #fff;
  --green: #40e2a2;
  --blue: #178fd6;
  --linear: linear-gradient(90deg, rgba(23,143,214,1) 0%, rgba(64,226,162,1) 100%);
}

/* Dev Index */
.coming-soon {
  height: 100vh;
  background-color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coming-soon p {
  background: linear-gradient(90deg, rgba(23,143,214,1) 0%, rgba(64,226,162,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.coming-soon h1 {
  color: var(--white);
}

