

/* MAIN CONTENT */
.main-content {
  padding: 300px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-left {
  width: 600px;
}
.main-content-left h1 {
  margin-bottom: 10px;
}
.main-content-right {
  margin-left: -50px;
}

/* PORTFOLIO */
.portfolio-container {
  text-align: center;
  padding-bottom: 150px;
}

.portfolio-top-text {
  margin-bottom: 100px;
}
.portfolio-top-text a {
  transition: 0.2s;
}
.portfolio-top-text a:hover {
  letter-spacing: 5px;
  color: #71c17a;
  transition: 0.2s;
}
.portfolio-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-item-project {
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 50px;
  border: 5px solid transparent;
  box-shadow: 0px 0px 18px #71c17a;

  margin: 20px 50px;
  background-color: #71c17a;
  transition: .2s;

  color: white;
}
.portfolio-item-project:hover {
  background-color: #222222;
  border: 5px solid #71c17a;
  margin: 20px 100px;

  cursor: pointer;
  color: white;
  transition: .2s;
}
.dark-mode .portfolio-item-project {
  color: white;
}
.dark-mode .portfolio-item-project:hover {
  background-color: #303030;
  cursor: pointer;
  /* color: white; */
  transition: .2s;
  
}

/* SUB CONTENT */
.services-container {
  text-align: center;
  padding-bottom: 150px;
}
.services-top-text {
  margin-bottom: 100px;
}
.services-top-text a {
  transition: 0.2s;
}
.services-top-text a:hover {
  letter-spacing: 5px;
  color: #71c17a;
  transition: 0.2s;
}
.services-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 150px;
}
.service-column {
  flex: 50%;
}
.service-item {
  border-radius: 50px;  
  padding: 150px;
  margin: 50px 20px;
  transition: .2s;
  border: 5px solid #71c17a;
  background: rgb(255,255,255);
  background: linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%);
  color: #222222;
}
.dark-mode .service-item {
  background: rgb(34,34,34);
  background: linear-gradient(156deg, rgba(34,34,34,1) 0%, rgba(41,41,41,1) 50%, rgba(34,34,34,1) 100%);
  box-shadow: 0px 0px 18px #71c17a;

  transition: .2s;
  border: 5px solid #222222;
  color: white;
}
.service-item:hover {
  border: 5px solid #71c17a;
  transition: 0.2s;
}
.service-item i {
  color: #71c17a;
}
.service-item h2 {
  padding: 15px;
  letter-spacing: 3px;
}

/* MEET THE TEAM */
.team button {
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 100px;
  background-color: #71c17a;
  color: white;
  border-top: 3px solid #71c17a;
  border-bottom: 3px solid #71c17a;

  transition: 0.2s;
}
.team button:hover {
  cursor: pointer;
  background-color: #303030;
  border-top: 3px solid #71c17a;
  border-bottom: 3px solid #71c17a;

  transition: 0.2s;

}


