.menu-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu p {
  text-transform: uppercase;
}
.menu a {
  text-transform: uppercase;
}
.menu-left {
  padding: 1rem;
  flex: 1;
}
.menu-right {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-right a {
  padding-left: 1rem;
  color: var(--white);
  transition: .2s;
}
.menu-right a:hover {
  color: var(--green);
  letter-spacing: 2px;

  background: -webkit-linear-gradient(0deg, rgba(39,136,197,1) 0%, rgba(101,192,148,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}