.container {
  height: 100vh;
  width: 100%;
}
.login-form {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-top-text {
  text-align: center;
  padding: 15px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}
.login-form form input {
  background-color: transparent;
  padding: 15px 25px;
  width: 400px;
  margin: 15px;
  outline: none;
  border: 3px solid #303030;
  border-radius: 50px;

  color: #71c17a;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;

  transition: .2s;
}
.login-form form input:hover {
  border: 3px solid #71c17a;
  transition: .2s;
}
.login-form form button {
  margin-top: 15px;
  border: none;
  padding: 10px 45px;

  border: 3px solid white;
  border-radius: 50px;
  background-color: transparent;

  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;

  transition: 0.2s;
}
.login-form form button:hover {
  cursor: pointer;
  color: #222222;
  border: 3px solid #71c17a;

  background-color: #71c17a;
  letter-spacing: 10px;
  transition: 0.2s;
}
.errors {
  padding: 30px;
  text-align: center;
  color: rgb(221, 69, 69);
}