.right-container {
    margin-left: 325px;
    margin-top: 25px;
    text-align: center;
}
.clients-top-section {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clients-top-section a {
    flex: 40%;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 50px 0;
    text-align: center;
    background-color: #222222;
    color: white;
    border-radius: 25px;
  
    transition: 0.2s;
}
.clients-top-section a:hover {
    background: #71c17a;
    transition: 0.2s;
}
  
.website-section {
    margin-right: 25px;
}

/* Create Client Form */
.create-project-form {
    margin-top: 2rem;
}