.right-container {
    margin-top: 25px;
    text-align: center;
}
.clients-top-section {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clients-top-section a {
    flex: 40%;
    margin-right: 25px;
    padding: 50px 0;
    text-align: center;
    background-color: #222222;
    color: white;
    border-radius: 25px;
  
    transition: 0.2s;
}
.clients-top-section a:hover {
    background: #71c17a;
    transition: 0.2s;
}
  
/* Client Cards */
.website-section {
    margin-right: 25px;
}
.website-section-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    padding-top: 2rem;
}
.admin-card {
    background: #222222;
    border-radius: 25px;
    padding: 3rem;
}
.admin-card p, .admin-card a {
    padding-bottom: .5rem;
}
.admin-card h4 {
    margin-bottom: 1rem;
}
.admin-card-content {
    display: flex;
    flex-direction: column;
}
.admin-card-options {
    background: var(--green);
    padding: 1rem 0;
    border-radius: 10rem;
    margin-top: 1rem;
}
.admin-card-options i {
    font-size: 16px;
    margin: 0 .5rem;
}

/* Delete Popup */
.trash-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    justify-content: center;
    
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);

    width: 100%;
    min-height: 100%;
}
.trash-popup-content {
    height: 100%;
}
/* Create Client Form */
.create-project-form {
    margin-top: 2rem;
}

