/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  /* colors */
  --black: #070808;
  --black-g: #070808c2;
  --gray: #222222;
  --white: #fff;
  --blue: #2788c5;
  --green: #65c094;
  --linear: linear-gradient(90deg, rgba(23,143,214,1) 0%, rgba(64,226,162,1) 100%);
  --linear-g: linear-gradient(90deg, rgba(23,143,214,.9) 0%, rgba(64,226,162,.9) 100%);
  --linear-2: linear-gradient(180deg, rgba(23,143,214,1) 0%, rgba(64,226,162,1) 100%);
  --linear-2-g: linear-gradient(180deg, rgba(23,143,214,.9) 0%, rgba(64,226,162,.9) 100%);

  /* font sizes */
  --step--2: clamp(0.78rem, 0.77rem + 0.03vw, 0.80rem);
  --step--1: clamp(0.94rem, 0.92rem + 0.11vw, 1.00rem);
  --step-0: clamp(1.13rem, 1.08rem + 0.22vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.28rem + 0.37vw, 1.56rem);
  --step-2: clamp(1.62rem, 1.50rem + 0.58vw, 1.95rem);
  --step-3: clamp(1.94rem, 1.77rem + 0.87vw, 2.44rem);
  --step-4: clamp(2.33rem, 2.08rem + 1.25vw, 3.05rem);
  --step-5: clamp(2.80rem, 2.45rem + 1.77vw, 3.82rem);

  /* font families */
  --source-code: 'Source Code Pro', monospace;
  --abril-fatface: 'Abril Fatface', cursive;

  /* paddings */
  --pul1: 2rem 0;
  --pul2: 3rem 0;
  --pa1: 2rem;
  --pa2: 3rem;

  /* margins */
  --mul1: 2rem 0;
  --mul2: 3rem 0;
  --ma1: 2rem;
  --ma2: 3rem;

}

/* ======================================
FONTS
Source Code
font-family: 'Source Code Pro', monospace;

Abril Fatface
font-family: 'Abril Fatface', cursive;
====================================== */

/* ====================================== */
/* global */
/* ====================================== */
* {
  margin: 0;
  padding: 0;
  color: var(--white);
}
body {
  background: var(--black);
}

/* Container Variables */
.container {
  margin-left: 24rem;
}

/* Text */
h1 {
  font-family: var(--abril-fatface);
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: var(--step-4);
}
h2 {
  font-family: var(--abril-fatface);
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: var(--step-3);
}
h3 {
  font-family: var(--source-code);
  font-size: var(--step-2);
}
h4 {
  font-family: var(--source-code);
  font-size: var(--step-1);
}
p {
  font-family: var(--source-code);
  font-size: var(--step--1);
}
a {
  text-decoration: none;
  font-family: var(--source-code);
  font-size: var(--step--1);
}
i {
  font-size: var(--step-1);
}

/* Buttons */
.btn-primary {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  padding: 1rem 2rem;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border-radius: 10rem;

  transition: .2s;
}
.btn-primary:hover {
  background: var(--blue);
  cursor: pointer;
  transition: .2s;
}

/* Cards */
.website-section {
  margin-right: 25px;
}
.website-section-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  padding-top: 2rem;
}
.admin-card {
  background: #222222;
  border-radius: 25px;
  padding: 3rem;
}
.admin-card p, .admin-card a {
  padding-bottom: .5rem;
}
.admin-card h4 {
  margin-bottom: 1rem;
}
.admin-card-content {
  display: flex;
  flex-direction: column;
}
.admin-card-options {
  background: var(--green);
  padding: 1rem 0;
  border-radius: 10rem;
  margin-top: 1rem;
}
.admin-card-options i {
  font-size: 16px;
  margin: 0 .5rem;
}

/* Forms */
form input {
    background-color: transparent;
    padding: 15px 25px;
    width: 400px;
    margin: 15px;
    outline: none;
    border: 3px solid #303030;
    border-radius: 50px;
  
    color: #71c17a;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
  
    transition: .2s;
}
form input:hover {
  border: 3px solid #71c17a;
  transition: .2s;
}
form button {
  margin-top: 15px;
  border: none;
  padding: 10px 45px;

  border: 3px solid white;
  border-radius: 50px;
  background-color: transparent;

  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;

  transition: 0.2s;
}

form button:hover {
  cursor: pointer;
  color: #222222;
  border: 3px solid #71c17a;

  background-color: #71c17a;
  letter-spacing: 10px;
  transition: 0.2s;
}
.errors {
  padding: 30px;
  text-align: center;
  color: rgb(221, 69, 69);
}

.dashboard-btn {
  margin-top: 15px;
  border: none;
  padding: 10px 45px;

  border: 3px solid white;
  border-radius: 50px;
  background-color: transparent;

  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;

  transition: 0.2s;
}
.dashboard-btn:hover {
  cursor: pointer;
  color: #222222;
  border: 3px solid #71c17a;

  background-color: #71c17a;
  letter-spacing: 10px;
  transition: 0.2s;
}