/* ============================================== */
/* PROJECT DASHBOARD */
/* ============================================== */
.right-container {
  margin-left: 325px;
  margin-top: 25px;
  text-align: center;
}
.project-top-section {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-top-section a {
  flex: 40%;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 50px 0;
  text-align: center;
  background-color: #222222;
  color: white;
  border-radius: 25px;

  transition: 0.2s;
}
.project-top-section a:hover {
  background: #71c17a;
  transition: 0.2s;
}

.website-section {
  margin-right: 25px;
}
.website-section-item table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}
.website-section-item th {
  border-bottom: 2px solid #222222;
  padding: 10px;
}
.website-section-item td {
  border-bottom: 2px solid #c2c2c2;
  padding: 10px;
}
.website-section-item table .fas {
  padding: 0px 7px;
  transition: 0.2s;
}
.website-section-item table .fas:hover {
  color: #71c17a;
  cursor: pointer;
  transition: 0.2s;
}
.website-section-item table .trash:hover {
  color: rgb(223, 75, 75);
  cursor: pointer;
  transition: 0.2s;
}

/* ============================================== */
/* CREATE PROJECT */
/* ============================================== */
.right-container {
  margin-left: 325px;
  margin-top: 25px;
  text-align: center;
}
.create-project-form {
  padding: 50px;
  color: #222222;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 25px;
}
.create-project-form input {
  background-color: transparent;
  padding: 15px 25px;
  width: 50%;
  margin: 15px;
  outline: none;
  border: 3px solid #303030;
  border-radius: 50px;

  color: var(--white);
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;

  transition: .2s;
}
.create-project-form form input:hover {
  border: 3px solid #71c17a;
  transition: .2s;
}
.create-project-form form button {
  margin-top: 15px;
  border: none;
  padding: 10px 45px;

  border: 3px solid #222222;
  border-radius: 50px;
  background-color: #222222;

  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;

  transition: 0.2s;
}
.create-project-form form button:hover {
  cursor: pointer;
  color: #222222;
  border: 3px solid #71c17a;

  background-color: #71c17a;
  letter-spacing: 10px;
  transition: 0.2s;
}